body{
    background-color: rgb(112, 108, 108);
}
.flex-container{
    display: flex;
    border: 1px solid black;
    max-width: 500px;
    margin-bottom: 10px;
}
.default{
    flex-flow: row nowrap;
}
.wrap{
    flex-flow:row wrap;
}
.wrap-reverse{
    flex-flow:row wrap-reverse;
}
.row-reverse{
    flex-flow: row-reverse nowrap;
}
.item{
    background-color: beige;
    margin: 5px;
    color:rgb(88, 148, 201);
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}